{ # global options
    admin off # theres no need for the admin api in railway's environment
    persist_config off # storage isn't persistent anyway
    auto_https off # railway handles https for us, this would cause issues if left enabled
    log { # runtime logs
        format console # set runtime log format to console mode 
    }
    servers { # server options
        trusted_proxies static private_ranges # trust railway's proxy
    }
}

:{$PORT} { # site block, listens on the $PORT environment variable, automatically assigned by railway
    log { # access logs
        format console # set access log format to console mode
    }

    reverse_proxy {$BACKEND_HOST} # proxy all requests for /* to the frontend, configure this variable in the service settings

    # Enable CORS for multiple origins
    @cors {
        header Access-Control-Allow-Origin https://karensama.com, https://www.karensama.com
        header Access-Control-Allow-Methods GET, POST, PUT, DELETE, OPTIONS
        header Access-Control-Allow-Headers *
    }
    
    route {
        uri /* {
            # Apply the CORS headers to the /api/ routes
            @cors {
                header Access-Control-Allow-Credentials true
            }
        }
    }
}
